.BTT_button{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    z-index: 100;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    background-color: rgba(29, 29, 29, 0.5);
    color: #5d6166;
}